<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="store">
      <h2 data-cy="storeDetailsHeading"><span>Store</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ store.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ store.name }}</span>
        </dd>
        <dt><span>Adress</span></dt>
        <dd>
          <span>{{ store.adress }}</span>
        </dd>
        <dt><span>Book</span></dt>
        <dd>
          <span *ngFor="let book of store.books; let last = last">
            <a [routerLink]="['/book', book?.id, 'view']">{{ book.title }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/store', store.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
